.ui.menu .header.item {
    max-width: 17em;
}

.ui.button.white {
    color: black;
    background: #fff;
}

.ui.sticky.blue.inverted {
    height: 4rem;
}

.ui.fixed.sticky + div {
    margin-top: 5rem;
}
