<!doctype html>
<html data-framework="vue">
    <head>
        <meta charset="utf-8">
        <title>Skill Survey Editor • Vue.js</title>

        <link rel="stylesheet" href="vendor/semantic-2.2.4.min.css"/>
        <link rel="stylesheet" href="utilities.css"/>

        <link rel="subresource" href="vendor/jquery-3.1.0.min.js"/>
        <link rel="subresource" href="vendor/semantic-2.2.4.min.js"/>
        <link rel="subresource" href="vendor/vue-2.0.0.js"/>
        <link rel="subresource" href="vendor/vue-resource-1.0.2.js"/>
        <link rel="subresource" href="vendor/store+json2-1.3.20.min.js"/>
        <link rel="subresource" href="vendor/clipboard-1.7.1.js"/>
        <link rel="subresource" href="editor.js"/>

        <script>
            [
                'vendor/jquery-3.1.0.min.js',
                'vendor/semantic-2.2.4.min.js',
                'vendor/vue-2.0.0.js',
                'vendor/vue-resource-1.0.2.js',
                'vendor/store+json2-1.3.20.min.js',
                'vendor/clipboard-1.7.1.js',
                'editor.js',
            ].forEach(function(src) {
                var script = document.createElement('script');
                script.src = src;
                script.async = false;
                document.head.appendChild(script);
            });
        </script>

        <style>
            .ui.button.white {
                color: black;
                background: #fff;
            }

            .json_configuration {
                margin-bottom: 2em;
            }
            .json_configuration textarea {
                font-family: monospace;
            }
        </style>
    </head>
    <body>
        <div class="ui container my-3" id="ss-editor">
            <div class="ui massive stackable icon menu">
                <div class="header item">Skill Survey Editor</div>
                <a class="item" href="https://github.com/skluck/skill-survey"><i class="large github icon"></i></a>

                <template v-if="survey.id">
                    <div class="ui right item t-std">
                        <div class="ui vertical animated basic negative button" @click="clearSurvey">
                            <div class="visible content"> <i class="icon trash"></i> Clear</div>
                            <div class="hidden content">Are you sure?</div>
                        </div>
                    </div>
                </template>

            </div>

            <message
                :negative="last_message.error"
                :value="last_message.message"></message>

            <template v-if="survey.id">

                <h1 class="ui header">
                    <i class="edit icon"></i>
                    <div class="ui content form w-100">
                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Survey Type</label>
                                <input type="text" placeholder="Enter survey type..." v-model="survey.type">
                            </div>
                            <div class="four wide field">
                                <label>Survey Version</label>
                                <input type="text" placeholder="Enter survey version..." v-model="survey.version">
                            </div>
                        </div>
                    </div>
                </h1>

                <surveysection v-for="(section, index) in sections" :key="section"
                    v-model="section"
                    v-on:delete-section="deleteSection(index)"
                    :parent_section="section"
                    :categories="categories"
                    :ratings="ratings"
                ></surveysection>

                <div class="my-3">
                    <button class="ui green left labeled icon button" @click="addSection">
                        <i class="plus icon"></i>
                        Add Section
                    </button>
                </div>

                <div class="mb-5">
                    <div class="ui segments">
                        <h2 class="ui top attached block header">Survey Configuration</h2>
                        <div class="ui segment">
                            <p>
                                Save the following <b>JSON</b> configuration into a text editor. No data is backed up in the browser!
                                <br><button class="ui tiny primary icon button clipboard-btn" data-clipboard-target=".json_configuration textarea">
                                    <i class="copy icon"></i>
                                    Copy to clipboard
                                </button>
                            </p>

                            <div class="ui form json_configuration">
                                <div class="field">
                                    <textarea rows="20">{{ serialized_survey }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </template>

            <template v-else>
                <div class="ui icon info message">
                    <i class="help icon"></i>
                    <div class="content">
                        <div class="header">
                            Start a new survey below or upload a finished survey.
                        </div>

                        <div class="ui fluid action mini input my-3">
                            <button class="ui primary left labeled icon button" @click="buildNewSurvey">
                                <i class="plus icon"></i>
                                New Survey
                            </button>
                        </div>

                    </div>
                </div>

                <categories :categories="categories"></categories>
                <ratings :ratings="ratings" :unratings="unratings"></ratings>
            </template>
        </div>



        <script type="text/x-template" id="ss-surveysection">
            <div class="ui basic segment">

                <div class="ui blue inverted clearing segment">
                    <div class="ui input w-50">
                        <input type="text" placeholder="Enter section title..." v-model="section.name">
                    </div>

                    <button class="ui icon red button position-absolute right-0 mr-3" @click="$emit('delete-section')">
                        <i class="trash icon"></i>
                        Delete Section
                    </button>
                </div>

                <div class="ui divided items">
                    <competency v-for="(competency, index) in section.competencies" :key="competency"
                        v-model="competency"
                        v-on:delete-competency="deleteCompetency(index)"
                        :parent_competency="competency"
                        :categories="categories"
                        :ratings="ratings"
                    ></competency>
                </div>

                <button class="ui green left labeled icon button" @click="addCompetency()">
                    <i class="plus icon"></i>
                    Add Competency
                </button>

            </div>
        </script>

        <script type="text/x-template" id="ss-competency">
            <div class="ui item stackable grid pb-0">

                <div class="ui two wide column">
                    <label>ID<label>
                    <div class="ui fluid input" data-tooltip="Enter unique ID such as A1 or B2">
                        <input type="text" maxlength="3" v-model="competency.id">
                    </div>

                    <label>Category</label>
                    <select class="ui dropdown" v-model="competency.category">
                        <template v-for="category in categories">
                            <option :value="category.name">{{ category.name }}</option>
                        </template>
                    </select>

                    <button class="ui tiny inverted icon blue fluid button mt-3" @click="resetExamples">
                        <i class="warning icon"></i>
                        Use defaults
                    </button>
                    <button class="ui tiny inverted icon red fluid button mt-3" @click="$emit('delete-competency')">
                        <i class="trash icon"></i>
                        Delete
                    </button>
                </div>
                <div class="ui fourteen wide column">

                    <label>Competency description<label>
                    <div class="ui fluid input">
                        <input type="text" placeholder="Enter competency description..." v-model="competency.competency">
                    </div>

                    <div class="ui row p-0">
                        <div class="ui relaxed items">
                            <example v-for="(example, index) in competency.examples" :key="example"
                                v-model="example"
                                :parent_example="example"></example>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-example">
            <div class="ui item fluid labeled input">
                <label class="ui label">{{ example.rating }}</label>
                <input type="text" placeholder="Enter rating example..." v-model="example.example">
            </div>
        </script>







        <script type="text/x-template" id="ss-message">
            <transition name="fade">
                <div class="mb-3" v-if="value">

                    <div class="ui icon message" :class="tone">
                        <i class="icon" :class="icon"></i>
                        <div class="content">
                            <template v-if="header">
                                <div class="header">{{ header }}</div>
                            </template>
                            <p>{{ value }}</p>
                        </div>
                    </div>

                </div>
            </transition>
        </script>

        <script type="text/x-template" id="ss-categories">
            <div v-if="categories" class="ui segments mt-5">
                <h2 class="ui top attached block header">Categories</h2>
                <div class="ui segment" v-for="category in categories">
                    <span :class="category.style" class="ui ribbon basic label">{{ category.name }}</span>
                    {{ category.description }}
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-ratings">
            <div v-if="ratings" class="ui segments my-5">
                <h2 class="ui top attached block header">Ratings</h2>

                <div class="ui segment" v-for="rating in ratings">
                    <span class="ui grey ribbon label">{{ rating.value }}</span>
                    {{ rating.human }}
                </div>

                <div v-if="unratings" class="ui grey segment">
                    <h5 class="ui">Cannot Evaluate?</h5>

                    <p v-for="rating in unratings">
                        <span class="ui basic grey inverted ribbon label">{{ rating.value }}</span>
                        <span v-if="rating.warning" class="ui left basic red label"><i class="warning icon"></i>{{ rating.tip }}</span>
                        {{ rating.extended }}
                    </p>
                </div>
            </div>
        </script>

    </body>
</html>
