<!doctype html>
<html data-framework="vue">
    <head>
        <meta charset="utf-8">
        <title>Skill Survey Editor • Vue.js</title>

        <link rel="stylesheet" href="vendor/semantic-2.2.4.min.css"/>
        <link rel="stylesheet" href="utilities.css"/>

        <link rel="subresource" href="vendor/jquery-3.1.0.min.js"/>
        <link rel="subresource" href="vendor/semantic-2.2.4.min.js"/>
        <link rel="subresource" href="vendor/vue-2.0.0.js"/>
        <link rel="subresource" href="vendor/vue-resource-1.0.2.js"/>
        <link rel="subresource" href="vendor/store+json2-1.3.20.min.js"/>
        <link rel="subresource" href="editor.js"/>

        <script>
            [
                'vendor/jquery-3.1.0.min.js',
                'vendor/semantic-2.2.4.min.js',
                'vendor/vue-2.0.0.js',
                'vendor/vue-resource-1.0.2.js',
                'vendor/store+json2-1.3.20.min.js',
                'editor.js',
            ].forEach(function(src) {
                var script = document.createElement('script');
                script.src = src;
                script.async = false;
                document.head.appendChild(script);
            });
        </script>

        <style>
            .ui.button.white {
                color: black;
                background: #fff;
            }
        </style>
    </head>
    <body>
        <div class="ui container my-3" id="ss-editor">
            <navigation
                :loaded_survey="survey.type"
                v-on:clear-survey="clearData"
                v-on:toggle-view-mode="toggleViewMode($event)"
                ></navigation>

            <message
                :negative="last_message.error"
                :value="last_message.message"></message>

            <modalers
                :upload_trigger="toggle_upload"
                v-on:upload-surveys="uploadSurveys"
            ></modalers>

            <template v-if="survey.id">

                <surveyheader :survey="survey"></surveyheader>

                <template v-for="(section, section_id) in sections">
                    <surveysection
                        v-model="section"
                        :section="section"
                        :categories="categories"
                        :ratings="ratings"
                        :unratings="unratings"

                        v-on:delete-section="deleteSection(section_id)"
                    ></surveysection>
                </template>

                <div class="my-3">
                    <button class="ui green left labeled icon button" @click="addSection">
                        <i class="plus icon"></i>
                        Add Section
                    </button>
                </div>

                <template v-if="!view_mode">
                    <save
                        :save_last_message="save_last_message"
                        :survey_type="survey.type"
                        :survey_version="survey.version"
                        :survey_name="survey.name"
                        v-on:save-survey="saveSurvey($event)"
                        v-on:change-survey-name="changeName($event)"
                    ></save>
                </template>

            </template>

            <template v-else>
                <surveys
                    :surveys="surveys"
                    :loaded_survey="survey.type"
                    v-on:load-new-survey="buildNewSurvey"
                    v-on:load-survey="loadSurvey($event)"
                    v-on:delete-survey="deleteSurveyConfirmation($event)"
                    v-on:download-survey="downloadSurvey($event)"
                    v-on:upload-survey="toggleUploader"
                ></surveys>

                <categories :categories="categories"></categories>
                <ratings :ratings="ratings" :unratings="unratings"></ratings>
            </template>
        </div>

        <script type="text/x-template" id="ss-navigation">
            <div class="ui massive stackable icon menu">
                <div class="header item">Skill Survey Editor</div>

                <a class="item" href="https://github.com/skluck/skill-survey"><i class="large github icon"></i></a>

                <template v-if="loaded_survey">
                    <div class="right menu">
                        <div class="item">
                            <div class="ui mini input">
                                <button
                                    class="ui button"
                                    v-bind:class="{ green: view_mode }"
                                    @click="toggleViewMode()"
                                >
                                    <i class="toggle icon" v-bind:class="{ on: view_mode, off: !view_mode }"></i>
                                    <span>Read-only</span>
                                </button>
                            </div>
                        </div>

                        <div class="item">
                            <div class="ui mini input">
                                <div class="ui vertical animated basic negative button" @click="clearSurvey">
                                    <div class="visible content"> <i class="icon trash"></i> Clear</div>
                                    <div class="hidden content">Are you sure?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </script>

        <script type="text/x-template" id="ss-message">
            <transition name="fade">
                <div class="mb-3" v-if="value">

                    <div class="ui icon message" :class="tone">
                        <i class="icon" :class="icon"></i>
                        <div class="content">
                            <template v-if="header">
                                <div class="header">{{ header }}</div>
                            </template>
                            <p>{{ value }}</p>
                        </div>
                    </div>

                </div>
            </transition>
        </script>

        <script type="text/x-template" id="ss-surveys">
            <div>

                <div class="ui icon info message">
                    <i class="help icon"></i>
                    <div class="content">
                        <div v-if="surveys.length" class="header">
                            Start a new survey or load an existing survey below.
                        </div>
                        <div v-else class="header">
                            There are no saved surveys. Start a new survey below or upload a finished survey.
                        </div>

                        <div class="ui fluid action mini input my-3">
                            <button class="ui primary left labeled icon button" @click="loadBlankSurvey">
                                <i class="plus icon"></i>
                                New Survey
                            </button>
                        </div>

                    </div>
                </div>

                <div class="ui segments mt-5">
                    <h2 class="ui top attached block header">Surveys</h2>
                    <div class="ui clearing segment">

                        <template v-if="surveys.length">
                            <table class="ui very basic celled table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Survey</th>
                                        <th></th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <template v-for="survey in surveys">
                                        <tr>
                                            <td>{{ survey.name }}</td>
                                            <td>
                                                {{ survey.type }}
                                                <span class="ui tiny basic red label">{{ survey.version }}</span>
                                                <span class="ui tiny basic label"><i class="clock icon"></i>{{ survey.updated|localdate }}</span>
                                            </td>
                                            <td class="right aligned">
                                                <button class="ui primary icon button" @click="loadSurvey(survey)">
                                                    <i class="download icon"></i> Load
                                                </button>
                                                <button class="ui teal icon button" @click="downloadSurvey(survey)">
                                                    <i class="cloud download icon"></i> Backup
                                                </button>

                                                <button class="ui icon basic red button ml-3" @click="deleteSurvey(survey)">
                                                    <i class="trash icon"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </template>

                        <button class="ui icon orange button float-right" @click="uploadSurvey">
                            <i class="cloud upload icon"></i> Upload
                        </button>

                        <p v-if="surveys.length > 0" class="t-tiny">
                            <span class="ui label basic red t-tiny">
                                <i class="warning icon"></i>Be careful!
                            </span>
                            Surveys are stored in browser cache. Clearing your cache will delete your surveys!
                        </p>
                        <p v-else>
                            No saved surveys found!
                        </p>

                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-categories">
            <div v-if="categories" class="ui segments mt-5">
                <h2 class="ui top attached block header">Categories</h2>
                <div class="ui segment" v-for="category in categories">
                    <span :class="category.style" class="ui ribbon basic label">{{ category.name }}</span>
                    {{ category.description }}
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-ratings">
            <div v-if="ratings" class="ui segments my-5">
                <h2 class="ui top attached block header">Ratings</h2>

                <div class="ui segment" v-for="rating in ratings">
                    <span class="ui grey ribbon label">{{ rating.value }}</span>
                    {{ rating.human }}
                </div>

                <div v-if="unratings" class="ui grey segment">
                    <h5 class="ui">Cannot Evaluate?</h5>

                    <p v-for="rating in unratings">
                        <span class="ui basic grey inverted ribbon label">{{ rating.value }}</span>
                        <span v-if="rating.warning" class="ui left basic red label"><i class="warning icon"></i>{{ rating.tip }}</span>
                        {{ rating.extended }}
                    </p>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-header">
            <h1 class="ui header">
                <i class="edit icon"></i>
                <div class="ui content form w-100">
                    <div class="fields">
                        <div class="twelve wide field">
                            <label>Survey Type</label>
                            <input type="text" placeholder="Enter survey type..." :value="survey.type">
                        </div>
                        <div class="four wide field">
                            <label>Survey Version</label>
                            <input type="text" placeholder="Enter survey version..." :value="survey.version">
                        </div>
                    </div>
                </div>
            </h1>
        </script>

        <script type="text/x-template" id="ss-section">
            <div class="ui basic segment">

                <div class="ui blue inverted clearing segment">
                    <div class="ui input w-50">
                        <input type="text" placeholder="Enter section title..." :value="section.name" @input="updateTitle">
                    </div>

                    <button class="ui icon red button position-absolute right-0 mr-3" @click="deleteSection()">
                        <i class="trash icon"></i>
                    </button>
                </div>

                <div class="ui divided items">
                    <template v-for="comp in section.competencies">
                        <competency
                            v-on:set-competency="saveRating(section_id, comp.id, $event)"
                            :comp="comp"
                            :comp_title="comp.id"
                            :categories="categories"
                            :ratings="ratings"
                            :unratings="unratings"
                        ></competency>
                    </template>
                </div>

                <button class="ui green left labeled icon button" @click="addCompetency()">
                    <i class="plus icon"></i>
                    Add Competency
                </button>

            </div>
        </script>

        <script type="text/x-template" id="ss-competency">
            <div class="ui item stackable grid pb-0">

                <div class="ui two wide column">
                    <label>ID<label>
                    <div class="ui fluid input">
                        <input type="text" placeholder="Enter Unique ID..." maxlength="3" :value="comp.id" @input="updateID">
                    </div>

                    <label>Category</label>
                    <select class="ui dropdown" :value="comp.category" @input="updateCategory">
                        <template v-for="category in categories">
                            <option :value="category.name">{{ category.name }}</option>
                        </template>
                    </select>
                </div>
                <div class="ui fourteen wide column">

                <label>Competency description<label>
                    <div class="ui fluid input">
                        <input type="text" placeholder="Enter competency description..." :value="comp.competency" @input="updateTitle">
                    </div>

                    <template v-if="comp.references">
                        <div class="ui basic compact segment p-0 mb-0 mt-1">
                            <b class="t-small pr-2">References:</b>
                            <div class="ui horizontal bulleted link list">
                                <template v-for="(reference_url, reference_title) in comp.references">
                                    <a class="item t-small" :href="reference_url">{{ reference_title }}</a>
                                </template>
                            </div>
                        </div>
                    </template>

                    <div class="ui row p-0">
                        <div class="ui items">
                            <div class="item" v-for="rating in ratings">
                                <label class="ui compact small message"
                                    @click="onChange(rating.value)"
                                    @mouseover="hoverRating"
                                    @mouseout="hoverRatingOff">
                                    <b class="ui label">{{ rating.value }}</b>
                                    {{ comp.examples[rating.value] }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-save">
            <div class="mb-5">
                <div class="ui segments">
                    <h2 class="ui top attached block header">Save Survey</h2>
                    <div class="ui segment">

                        <message
                            :negative="save_last_message.error"
                            :value="save_last_message.message"></message>

                        <div class="ui form">
                            <div class="four fields">
                                <div class="field">
                                    <label>Survey name</label>
                                    <input type="text" name="survey_name" v-model="changed_survey_name" placeholder="Example: John's Survey">
                                </div>
                                <div class="field">
                                    <label>Survey type/version</label>
                                    <div class="ui disabled input">
                                        <input type="text" readonly :value="survey_type + ' [' + survey_version + ']'">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Last updated</label>
                                    <div class="ui disabled input">
                                        <input type="text" readonly :value="survey_updated">
                                    </div>
                                </div>
                            </div>

                            <button class="ui green button" @click="saveSurvey">
                                <i class="icon save"></i> Save to Browser Storage
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="ss-modals">
            <div>
                <div id="delete-survey" class="ui small modal">
                    <div class="header">Delete Survey</div>
                    <div class="content">
                        <p>Are you sure you want to delete this survey?</p>
                    </div>
                    <div class="actions">
                        <div class="ui approve negative left labeled icon button"><i class="trash icon"></i> Delete</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </div>

                <div id="upload-survey" class="ui small modal">
                    <div class="header">Upload Survey</div>
                    <div class="content">

                        <div v-if="dropped.length > 0">
                            <template v-for="file in dropped">
                                <div class="ui basic compact segment p-1 my-0 mb-2">
                                    <button class="ui mini red button mr-2" @click="removeUpload(file.name)">Cancel</button>
                                    <span>{{ file.name }}</span>
                                </div>
                            </template>
                        </div>

                        <div class="dropzone" :class="dropzone_style"
                            @drop="uploadDrop"
                            @dragover="uploadHover"
                            @dragenter="uploadHover"
                            @dragleave="uploadHoverOff"
                            >
                            <h3 class="ui icon header w-100">
                                <i class="icon" :class="icon_style"></i>
                                <div class="content">
                                    Drop files here or click to select from filesystem.
                                    <div class="sub header">Only backups or shared surveys in JSON format are supported.</div>
                                </div>
                            </h3>

                            <input type="file" multiple accept="application/json" @change="uploadInputDrop"/>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui approve positive left labeled icon button"><i class="cloud upload icon"></i> Upload</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>
