/*
From https://github.com/primer/utilities
*/

/* padding utilites */
.p-0 { padding: 0 !important; }
.pt-0 { padding-top: 0 !important; }
.pr-0 { padding-right: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left: 0 !important; }
.px-0 { padding-right: 0 !important; padding-left: 0 !important; }
.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.p-1 { padding: 3px !important; }
.pt-1 { padding-top: 3px !important; }
.pr-1 { padding-right: 3px !important; }
.pb-1 { padding-bottom: 3px !important; }
.pl-1 { padding-left: 3px !important; }
.px-1 { padding-right: 3px !important; padding-left: 3px !important; }
.py-1 { padding-top: 3px !important; padding-bottom: 3px !important; }

.p-2 { padding: 6px !important; }
.pt-2 { padding-top: 6px !important; }
.pr-2 { padding-right: 6px !important; }
.pb-2 { padding-bottom: 6px !important; }
.pl-2 { padding-left: 6px !important; }
.px-2 { padding-right: 6px !important; padding-left: 6px !important; }
.py-2 { padding-top: 6px !important; padding-bottom: 6px !important; }

.p-3 { padding: 12px !important; }
.pt-3 { padding-top: 12px !important; }
.pr-3 { padding-right: 12px !important; }
.pb-3 { padding-bottom: 12px !important; }
.pl-3 { padding-left: 12px !important; }
.px-3 { padding-right: 12px !important; padding-left: 12px !important; }
.py-3 { padding-top: 12px !important; padding-bottom: 12px !important; }

.p-4 { padding: 24px !important; }
.pt-4 { padding-top: 24px !important; }
.pr-4 { padding-right: 24px !important; }
.pb-4 { padding-bottom: 24px !important; }
.pl-4 { padding-left: 24px !important; }
.px-4 { padding-right: 24px !important; padding-left: 24px !important; }
.py-4 { padding-top: 24px !important; padding-bottom: 24px !important; }

.p-5 { padding: 36px !important; }
.pt-5 { padding-top: 36px !important; }
.pr-5 { padding-right: 36px !important; }
.pb-5 { padding-bottom: 36px !important; }
.pl-5 { padding-left: 36px !important; }
.px-5 { padding-right: 36px !important; padding-left: 36px !important; }
.py-5 { padding-top: 36px !important; padding-bottom: 36px !important; }

.p-6 { padding: 48px !important; }
.pt-6 { padding-top: 48px !important; }
.pr-6 { padding-right: 48px !important; }
.pb-6 { padding-bottom: 48px !important; }
.pl-6 { padding-left: 48px !important; }
.px-6 { padding-right: 48px !important; padding-left: 48px !important; }
.py-6 { padding-top: 48px !important; padding-bottom: 48px !important; }

/* margin utilites */
.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }
.mx-0 { margin-right: 0 !important; margin-left: 0 !important; }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }

.m-1 { margin: 3px !important; }
.mt-1 { margin-top: 3px !important; }
.mr-1 { margin-right: 3px !important; }
.mb-1 { margin-bottom: 3px !important; }
.ml-1 { margin-left: 3px !important; }
.mx-1 { margin-right: 3px !important; margin-left: 3px !important; }
.my-1 { margin-top: 3px !important; margin-bottom: 3px !important; }

.m-2 { margin: 6px !important; }
.mt-2 { margin-top: 6px !important; }
.mr-2 { margin-right: 6px !important; }
.mb-2 { margin-bottom: 6px !important; }
.ml-2 { margin-left: 6px !important; }
.mx-2 { margin-right: 6px !important; margin-left: 6px !important; }
.my-2 { margin-top: 6px !important; margin-bottom: 6px !important; }

.m-3 { margin: 12px !important; }
.mt-3 { margin-top: 12px !important; }
.mr-3 { margin-right: 12px !important; }
.mb-3 { margin-bottom: 12px !important; }
.ml-3 { margin-left: 12px !important; }
.mx-3 { margin-right: 12px !important; margin-left: 12px !important; }
.my-3 { margin-top: 12px !important; margin-bottom: 12px !important; }

.m-4 { margin: 24px !important; }
.mt-4 { margin-top: 24px !important; }
.mr-4 { margin-right: 24px !important; }
.mb-4 { margin-bottom: 24px !important; }
.ml-4 { margin-left: 24px !important; }
.mx-4 { margin-right: 24px !important; margin-left: 24px !important; }
.my-4 { margin-top: 24px !important; margin-bottom: 24px !important; }

.m-5 { margin: 36px !important; }
.mt-5 { margin-top: 36px !important; }
.mr-5 { margin-right: 36px !important; }
.mb-5 { margin-bottom: 36px !important; }
.ml-5 { margin-left: 36px !important; }
.mx-5 { margin-right: 36px !important; margin-left: 36px !important; }
.my-5 { margin-top: 36px !important; margin-bottom: 36px !important; }

.m-6 { margin: 48px !important; }
.mt-6 { margin-top: 48px !important; }
.mr-6 { margin-right: 48px !important; }
.mb-6 { margin-bottom: 48px !important; }
.ml-6 { margin-left: 48px !important; }
.mx-6 { margin-right: 48px !important; margin-left: 48px !important; }
.my-6 { margin-top: 48px !important; margin-bottom: 48px !important; }

/* position utilites */
.position-static   { position: static !important; }
.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }
.position-fixed    { position: fixed !important; }

.top-0    { top: 0 !important; }
.right-0  { right: 0 !important; }
.bottom-0 { bottom: 0 !important; }
.left-0   { left: 0 !important; }
